*,
*::after,
*::before {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --ligth-blue-100: #f3f5fc;
    --gray-400: #495057;
    --dark-blue-300: #0a3871;
    --gray-100: #d8dfe8;
}

/* Mobile First */

body {
    background: var(--ligth-blue-100);
}

.logo {
    padding: 20px 0;
}

main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Seccion entrada */

.entrada {
    display: flex;
    flex-direction: column;
    /* background: greenyellow; */
    gap: 10px;
}

.texto {
    display: block;
    width: 90%;
    height: 50vh;
    margin: 0 auto;
    margin-top: 25px;
    resize: none;
    padding: 20px 10px;
    font-size: 20px;
    border: none;
    background: var(--ligth-blue-100);
    color: var(--dark-blue-300);
    text-transform: lowercase;
}
:focus {
    outline: none;
}
::placeholder {
    color: var(--dark-blue-300);
    opacity: 1;
}

.entrada p {
    padding: 0 20px;
    color: var(--gray-400);
}

.entrada strong {
    background: var(--gray-400);
    padding: 0 7px;
    margin-right: 10px;
    color: white;
    border-radius: 50%;
}

.contendedor-botones {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.btn {
    perspective: 100px;
    height: 60px;
    border-radius: 24px;
    cursor: pointer;
    width: 100%;
    transition: all 0.4s;
}

.btn-encriptar {
    background: var(--dark-blue-300);
    color: white;
    border: none;
}

.btn-desencriptar,
.btn-copiar {
    background: transparent;
    color: var(--dark-blue-300);
    border: thin solid var(--dark-blue-300);
}

/* Seccion salida */

.salida {
    padding: 20px;
    margin: 20px;
    display: flex;
    background: white;
    border-radius: 24px;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
}

.contenedor-respuesta {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    line-height: 30px;
}

.contenedor-copiar {
    display: flex;
}

.ocultar {
    display: none;
}

footer {
    padding: 20px;
    text-align: center;
    background: #495057;
}

footer p {
    color: white;
}

/* Tablet */
@media (min-width: 768px) {
    .contendedor-botones {
        flex-direction: row;
    }
}

/* Desktop*/
@media (min-width: 1200px) {
    main {
        flex-direction: row;
        justify-content: center;
        gap: 80px;
    }

    .entrada {
        display: flex;
        width: 40%;
    }

    .contendedor-botones {
        flex-direction: row;
    }

    .salida {
        justify-content: space-between;
        width: 20%;
    }

    .salida .respuesta {
        justify-self: flex-start;
        align-items: flex-start;
    }

    .contenedor-muneco {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}
